.navigation{
    background-color: rgb(222, 143, 143);
    height: 70px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title a{
    color: black;
    text-decoration: none;
    font-size: 30px;
}
.title a:active{
    opacity: 0.6;
}
.content{
    margin-top: 10px;
    
}
.content ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin-bottom: 7px;
    
}
.content a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 30px;
   
}


/* search bar */
#Search{
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 15px 0px 0px 15px;

    padding: 0px 0px 0px 15px;
    margin-left: 30px;

    font-size: 15px;

}
#Search-btn{
    border: none;
    height: 41.5px;
    width: 80px;
    border-radius: 0px 15px 15px 0px;
    font-size: 15px;

    background-color: black;
    color: white;
}
