*{
    margin: 0;
    padding: 0;
}

.image img{
    height: 500px;
    width: 50%;
}
.search{
    position: absolute;
    display: flex;
}
.container{
    /* position: relative; */
    display: flex;
    justify-content: space-evenly;
    /* margin: 10px; */
}
/* .container-img{
    position: absolute;
    display: flex;
} */
.container-img img{
    height: 160px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgb(113, 113, 113);
}
.d-block w-100{
    height: 600px;
    width: 600px;

    
}

.trending{
    margin-top: 100px;
    margin-bottom: 80px;
}



/* Map */
.map{
    width: 100%;
}